/* 
Created by Ahmed_Nasser
Contact Me 01027380298
^_^
*/

html {
    scroll-behavior: smooth;
}
/* start variable  */
:root {
    --main-color: #10cab7;
    --black: #333;
    --p-color: #777;
    --side-color: #2c4755;
    --section-color: #f6f6f6;
    --line-height: 1.8;
}
/* end variable */
/* Start Frame Work */
.style-title-1 {
    color: #ebeced;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    margin: 0px;
}
.style-title-1 + p {
    color: #797985;
    text-align: center;
    margin-top: -28px;
    font-size: 18px;
}
@media (max-width: 767px) {
    .style-title-1 {
        font-size: 60px;
    }
    .style-title-1 + p {
        font-size: 12px;
        margin-top: -18px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
/* End Frame Work */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/* end global rules */
/* Start Header */
header {
    width: 100%;
    height: 63px;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
}

header .page-logo {
	height: fit-content;
  width: 60px;
}

header .berger-logo {
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
header
.berger-logo span {
    width: 100%;
    height: 2px;
    background-color: var(--black);
    display: block;
    margin-bottom: 5px;
    transition: 0.3s;
}
header
.berger-logo
span:nth-child(2) {
    width: 50%;
}
header
.berger-logo:hover
span:nth-child(2) {
    width: 100%;
}

header nav {
    width: 180px;
    position: absolute;
    top: calc(100% + 9px);
    right: 0%;
    background-color: #f6f6f6;
    display: none;
}
header nav::before {
    content: "";
    border: 9px solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    bottom: 100%;
    left: calc(100% - 25px);
}
header nav
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
header
.berger-logo:hover
nav {
    display: block;
}
header nav
ul li {
    width: 100%;
    padding: 10px;
    transition: 0.3s;
}
header nav
ul li:hover{
    padding-left: 20px;
}
header nav
ul li a {
    color: var(--black);
    text-decoration: none;
}
header nav
ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.section-1 {
    width: 100%;
    height: calc(100vh - 63px);
		position: relative;
		overflow: hidden;
}

.hero-bg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: calc(100%);
	min-width: 1200px;
}

.section-1 .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.section-1 .intro h1 {
    width: 100%;
    text-align: center;
    color: var(--main-color);
    font-size: 50px;
    margin: 0px;
    margin-bottom: 25px;
}

.section-1 .intro p {
    text-align: center;
    margin: 0px;
    width: 280px;
    margin-bottom: 15%;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 500;
}
/* End Landing */
/* Start Features */
.section-2 {
    padding: 60px 0px;
    background-color: #f6f6f6;
}

.section-2 .box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media (min-width: 1199px) {
    .section-2 .box {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

.section-2 .box
.feat {
    text-align: center;
    line-height: 1.8;
}

.section-2 .box
.feat .logo {
    color: var(--main-color);
    font-size: 50px;
}

.section-2 .box
.feat p {
    color: var(--p-color);
}
/* End Features */
/* Start Services */
.section-3.services > div {
    padding-left: 0px;
}

.section-3 {
    width: 100%;
    padding: 60px 0px;
}

.section-3 .services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 30px;
    margin: 60px 30px;
}

.section-3 .services
.col .img {
    display: none;
}

.section-3 .services
.col .img img {
    width: 250px;
}

.section-3 .services
.col {
    position: relative;
}

.section-3 .services
.col .img:before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--side-color);
    position: absolute;
    bottom: -30px;
    left: 185px;
    z-index: -1;
}

@media (min-width: 1199px) {
    .section-3 .services {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
    .section-3 .services
    .col .img {
        display: block;
    }
}

@media (max-width: 767px) {
    .section-3 .services
    .col .srv {
        display: block !important;
        text-align: center;
    }
    .section-3 .services
    .col .srv .logo {
        margin-bottom: 20px;
    }
    .section-3 .services
    .col .srv .logo i {
        font-size: 50px;
    }
}

.section-3 .services
.col .srv {
    display: flex;
    margin-bottom: 40px;
}

.section-3 .services
.col .srv .text .title {
    margin: 0px 0px 10px;
}

.section-3 .services
.col .srv .text .prg {
    margin: 0px;
    color: var(--p-color);
    line-height: 1.8;
    height: 140px;
}

.section-3 .services
.col .srv .logo i {
    color: var(--main-color);
    font-size: 35px;
    flex-basis: 10px;
}

.section-3 .services
.col .srv .logo {
    padding-right: 20px;
}

.section-3 .box-title {
    margin-bottom: 90px;
}

.section-3 .services .col {
    margin: 0px auto;
}
/* End Services */
/* Start Portfolio */
.section-4 {
    background-color: var(--section-color);
    padding: 60px 0px;
}

.section-4 .box-port
.port .image img {
    max-width: 100%;
    transform: translateY(5px);
}

.section-4 .box-port
.port .text {
    background-color: white;
    padding: 15px;
}

.section-4 .box-port {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
    margin: 50px 30px;
}

.section-4 .box-port
.port .text h3{
    margin: 5px 0px;
}

.section-4 .box-port
.port .text p {
    color: var(--p-color);
    line-height: var(--line-height)
}
/* End Portfolio */
/* Start About */
.section-5 {
    width: 100%;
    padding: 60px 0px;
}

.section-5 .about-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
}

.section-5 .about-box .image {
    position: relative;
    flex-basis: 30%;
}

.section-5 .about-box .image img {
    max-width: 100%;
}
.section-5 .about-box .image::before {
    content: "";
    width: 80px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    position: absolute;
    top: calc(0% - 40px);
    left: -25px;
    z-index: -1;
}

.section-5 .about-box .image::after {
    content: "";
    width: 100px;
    height: 300px;
    position: absolute;
    top: calc(0% - 40px);
    left: calc(100% - 55px);
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}

.section-5 .about-box .text {
    line-height: var(--line-height);
    flex-basis: calc(100% - 500px);
}

.section-5 .about-box
.text p:first-of-type {
    font-weight: 600;
    margin-bottom: 40px;
}

.section-5 .about-box
.text hr {
    width: 40%;
    display: inline-block;
    border-color: var(--main-color);
    border-style: solid;
}

.section-5 .about-box
.text p:last-of-type {
    color: var(--p-color);
}

@media (max-width: 991px) {
    .section-5 .about-box .image::before {
        display: none;
    }
    .section-5 .about-box .image::after {
        display: none;
    }
    .section-5 .about-box {
        display: block;
    }
    .section-5 .about-box .image {
        width: 220px;
        margin: 0px auto;
        margin-bottom: 60px;
    }
    .section-5 .about-box .text {
    text-align: center;
    }
}
/* End About */
/* Start Contact */
.section-6 {
    width: 100%;
    background-color: var(--section-color);
    text-align: center;
    padding: 60px 0px;
}

.section-6 .box-contact > p {
    color: var(--side-color);
    font-weight: 900;
    font-size: 30px;
    margin: 90px 0px 20px;
}

.section-6 .box-contact .link {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
}

.section-6 .box-contact .social {
    margin: 20px 0px;
}

.section-6 .box-contact .social i {
    color: var(--side-color);
    margin-left: 5px;
}

@media (max-width: 767px) {
    .section-6 .box-contact > p {
        font-size: 22px;
    }
    .section-6 .box-contact .link {
        font-size: 22px;
    }
    .section-6 .box-contact .social {
        font-size: 15px;
    }
}
/* End Contact */
/* Start Footer */
.fot {
    width: 100%;
    background-color: var(--side-color);
    text-align: center;
    padding: 25px;
    color: white;
    font-size: 18px;
}

.fot span {
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width: 767px) {
    .fot {
        font-size: 13px;
    }
}
/* End Footer */